{% extends 'base.html.twig' %}

{% block title %}TwitterLike{% endblock %}

{% block body %}
    <nav class="nav flex-column nav-pills fixed-left" id="nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Rechercher</a>
        <a class="nav-link" href="#">Ajouter un post</a>
        <a class="nav-link" href="#">Favoris</a>
        <a class="nav-link" href="#">Profil</a>
    </nav>
    <h1>Test</h1>
{% endblock %}